<main class="main">
  <div class="contentWrapper">
    <div class="content">
      <div>
        <h1>{{ title }}</h1>
        <div *ngIf="currentPokemon && !loading">
          <div class="imgWrapper">
            <img ngSrc="{{ currentPokemon.image }}" class="grey-out" [ngClass]="{ 'grey-out': !result, 'non-grey-out': result }" width="400" height="200">
          </div>
          <h2 *ngIf="!result">⬇️ Pick a name ⬇️</h2>
          <h2 *ngIf="result" > {{ result.correct_name | titlecase }}</h2>
          <div *ngIf="!result && currentPokemon && currentPokemon.id" class="pill-group">
            @for (item of currentPokemon.guesses; track item) {
              <button
                class="pill"
                target="_blank"
                (click)="checkPokemon(currentPokemon.id, item)"
              >
                <span>{{ item | titlecase}}</span>
              </button>
            }
          </div>
          <div *ngIf="resultLoading">Checking ...</div>
          <div *ngIf="result" class="result">
            <div *ngIf="result.is_correct"> Well done! This is {{ result.correct_name | titlecase}} indeed!</div>
            <div *ngIf="!result.is_correct"> Not quite! This is {{ result.correct_name | titlecase}}.</div>
          </div>
          <button class="get-another-btn" (click)="getRandomPokemon()">Get another pokemon</button>
        </div>
      </div>
    </div>
    <div class="score">
      <p>Guess 7 out of 10 to win!</p>
      @for (item of scoreArray; track item) {
          <span>{{ item }}</span>
      }
    </div>
  </div>
</main>
<router-outlet />
